.btn-cf {
  color: #7face5;
}
.btn-cf:hover {
  color: #4f76a7;
}

.btn-orange {
  background-color: orange!important;
  color:#000;
  box-shadow:unset;
  border:1px solid #888;
}

.hide { display:none; }

.product_custom_field p label { display:block!important;width:100%;font-weight:bold; }

.cfmb_new_option, input.cfmb_new_option { font-size:1.3em!important; }


.mg-ul {
  margin-left:10px;
}

.mg-li {
  list-style-type: disc;
  margin-left:25px;
}

.mg-header {
  width:97%;
  display:block;
}

.mg-header img {
  width:100%;
  height:auto;
}

.mg-container {
  width:100%;
  text-align:center;
  display:block;
  margin:0 auto;
}

.mg-col-3 {
  width:31%;
  background:#fff;
  border:1px solid #cecece;
  display:block;
  padding:0px 5px 0px 0px;
  float:left;
  margin-right:10px;
  margin-bottom:10px;
  margin-top:10px;
  text-align:center;
  min-height:200px;
}

.mg-col-3 h3 {
  width: 100%;
  background: #daecff;
  margin: 0 auto;
  padding: 10px 0px 10px 5px;
  clear:both;
}

.mg-col-3 div.content {
  width:100%;
  display:block;padding:5px;
  min-height:90px;
}

.mg-col-3 button {
  position:relative;
  bottom:0;
}


.mg_cf_meta { display:block; }
.mg_cf_meta > span > p { display:unset; }
